.module-6 .module__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.module-6 .heading__inside {
    width: 100px;

}
.module-6 .swiper-silder {
    width: calc(100% - 100px);
    padding-left: 100px;
    position: relative;
}
.heading__inside-style-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.heading__inside-style-1 .heading__inside-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    color: var(--color-title);
    writing-mode: tb;
    transform: rotate(-180deg);
    text-transform: uppercase;
}

.module-6 .swiper-slide {
    width: fit-content;
    height: fit-content;
}
.post--overlay-slide .post__thumb {
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.post--overlay-slide .post__text{
    width: 520px;
    min-height: 400px;
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
}
.post--overlay-slide .post__text-inner {
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-white);
    border-radius: 10px;
    transition: all 0.3s;
    padding: 30px;
}
.swiper-slide.swiper-slide-active .post--overlay-slide .post__thumb {
    bottom: 25px;
}
.swiper-slide.swiper-slide-active .post--overlay-slide .post__text-inner{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}
.post--overlay-slide .post__title {
    margin-top: 15px;
    margin-bottom: 20px;
}
.post--overlay-slide .post__meta-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* navigation-pagination */
.swiper-silder .swiper-container {
    position: static;
}
.swiper-silder .swiper-button-prev {
    left: 0;
    top: 20%;
}
.swiper-silder .swiper-button-next {
    left: 0;
    right: auto;
    top: auto;
    bottom: 20%;
}
.swiper-silder .swiper-button-prev, 
.swiper-silder .swiper-button-next{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-silder .swiper-button-prev:after, 
.swiper-silder .swiper-button-next:after {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--color-white);
    border-radius: 50%;
    border: 1px solid var(--color-border);
    transition: all 0.3s;
    color: var(--color-primary);
}
.swiper-silder .swiper-button-prev:hover:after, 
.swiper-silder .swiper-button-next:hover:after {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}
.swiper-silder .swiper-container-horizontal > .swiper-pagination-bullets {
    width: fit-content;
    left: calc(30px/2);
    top: 38%;
    height: fit-content;
    writing-mode: vertical-rl;
}
.swiper-silder .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 4px;
}
.swiper-silder .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-title);
}
.swiper-silder .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}
@media (max-width:1199px) {
    .module-6 .heading__inside {
        width: 70px;
    
    }
    .module-6 .swiper-silder {
        width: calc(100% - 70px);
    }
    .post--overlay-slide .post__text {
        min-height: 380px;
        width: 450px;
    }
    .post--overlay-slide .post__title {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .post--overlay-slide .post__text-inner {
        padding: 20px;
    }
    
}
@media (max-width:991px) {
    .swiper-silder .swiper-button-prev, 
    .swiper-silder .swiper-button-next {
        display: none;
    }
    .swiper-silder .swiper-container-horizontal > .swiper-pagination-bullets {
        left: 50%;
        top: auto;
        bottom: -5px;
        writing-mode: horizontal-tb;
        transform: translateX(-50%);
    }
    .module-6 .swiper-silder {
        padding-left: 0;
        padding-bottom: 30px;
    }
    .post--overlay-slide .post__text {
        min-height: 350px;
        width: 450px;
    }
}